@import '../../styles/colors.module.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
    width: 90%;
    max-width: 1366px;
    padding-top: 20px;
}

.header { 
    &__infos {
        display: flex;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 25px;

            p {
                color: $color-secondary;
                margin-left: 10px;
                font-size: 1.4rem;
            }
        }
    }   
}

@media (max-width: 425px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header {
        &__infos {
            margin-top: 15px;

            span {
                margin-left: 0;
                margin-right: 15px;
            }
        }
    }
}

@media (max-width: 320px) {
    header {
        align-items: center;
    }
    
    .header {
        &__infos {
           flex-direction: column; 

           span {
               margin-top: 15px;
           }
        }
    }
}